version: '3.7'

services:
  postgres:
    image: postgres:10.5
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5438:5432'
    container_name: postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      # sql script to create tables
      - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
  redis:
    image: 'redis:6'
    ports:
      - '6379:6379'
    container_name: redis
